<!--<h1>Live Cities Search</h1>-->
<!--<input type="text" name="search-box" class="search-box" (keyup)="sendData($event)">-->
<!--<section class="search-results">-->
<!--  <p *ngIf = "cities.length < 1 && substring !== ''"> Sorry. nothing found</p>-->
<!--  <ng-template ngFor let-city [ngForOf]="cities" let-i="index">-->
<!--    <hr *ngIf="i > 0">-->
<!--    <p>{{city.cityName}}</p>-->
<!--  </ng-template>-->
<!--</section>-->
<h1>Live Cities Search</h1>

<!--<city-result></city-result>-->
<search-bar></search-bar>
