<city-result [city$]="selectedCity$"></city-result>
<div>
  <input [formControl]="autoCompleteSubstringForm" name="search-box" class="search-box">
</div>
<section class="search-results">
  <ng-container *ngIf="(observableResult | async) as resource">
    <ng-container *ngIf="isCityResults(resource); else error_content ">
      <div *ngFor="let city of resource">
        <button class="button" (click)="onClickCity(city)">
          {{city.cityName}}
        </button>
      </div>
    </ng-container>
    <ng-template #error_content>
      <p *ngIf="!isCityResults(resource)"><b>{{resource.message}}</b></p>
    </ng-template>
  </ng-container>

</section>

